In [21]:
import pandas as pd
import numpy as np
import chardet
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from collections import Counter
import seaborn as sns
import matplotlib.pyplot as plt
import string

In [22]:
#Remove blocks of white space
def remove_block_of_white_space(text):
    new_text = []
    for excerpt in text:
        while "  " in excerpt:
            excerpt = excerpt.replace("  "," ")
        new_text.append(excerpt)
    print(len(text))
    return new_text

In [23]:
# Remove invalid characters from text
def remove_character_from_text(text,remove_characters):
    for char in remove_characters:
            text = [excerpt.replace(char, '') for excerpt in text]
    return text

In [24]:

#Processing data for modelling
def process_data(data_frame,text_label,y_label, remove_characters_from_text = None, remove_column_indexs =None, 
drop_na = False, remove_white_space = False):


    #Remove columns based off column index
    if(remove_column_indexs != None):
       data_frame.drop(data_frame.columns[remove_column_indexs],axis=1,inplace=True)


    #Remove white space
    if(remove_white_space):
        data_frame[text_label] = remove_block_of_white_space(data_frame[text_label])


    #Remove characters within the rows of the data  
    if(remove_characters_from_text != None):
        data_frame[text_label] = remove_character_from_text(data_frame[text_label],remove_characters_from_text)



    #Remove any row with just empty text 
    filter = data_frame[text_label] != ""
    data_frame = data_frame[filter]

    #Remove null values
    if(drop_na):
       data_frame.dropna()

    #Removing white space in y label
    data_frame[y_label] = data_frame[y_label].str.replace(" ", "")
       
    return data_frame

In [25]:
#Hyper Parameters
Y_LABEL = "author"
X_LABEL = "text"
SAVE_FILE_NAME = "processed_data.csv"
FILE_NAME = "spooky_author_data.csv"
REMOVE_CHARACTERS = ['"', '\'']
REMOVE_COLUMNN_INDEXES =[0]
DROP_NA = True
REMOVE_WHITE_SPACE = True
SAVE_INDEX = False

In [26]:
data = pd.read_csv(FILE_NAME)
len(data)

19579

In [27]:
data

            id                                               text author
0      id26305  This process, however, afforded me no means of...    EAP
1      id17569  It never once occurred to me that the fumbling...    HPL
2      id11008  In his left hand was a gold snuff box, from wh...    EAP
3      id27763  How lovely is spring As we looked from Windsor...    MWS
4      id12958  Finding nothing else, not even gold, the Super...    HPL
...        ...                                                ...    ...
19574  id17718  I could have fancied, while I looked at it, th...    EAP
19575  id08973  The lids clenched themselves together as if in...    EAP
19576  id05267  Mais il faut agir that is to say, a Frenchman ...    EAP
19577  id17513  For an item of news like this, it strikes us i...    EAP
19578  id00393  He laid a gnarled claw on my shoulder, and it ...    HPL

[19579 rows x 3 columns]

In [28]:
df = process_data(data_frame = data,text_label= X_LABEL,y_label=Y_LABEL,remove_characters_from_text=REMOVE_CHARACTERS,
remove_column_indexs=REMOVE_COLUMNN_INDEXES,drop_na=DROP_NA,remove_white_space=REMOVE_WHITE_SPACE)

19579

In [29]:
len(df)

19579

In [30]:
df.to_csv(SAVE_FILE_NAME, index=SAVE_INDEX)